@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    @apply sm:text-4xl text-2xl font-bold mb-10;
    position: relative;
}

h2::after {
    content: "";
    width: 200px;
    height: 2px;
    background-color: #121212ef
}

p {
    @apply leading-8 text-sm text-pretty;
}

.lg-react-element {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr, 1fr, 1fr;
    gap: 20px;
    height: 75vh;
}

.lg-react-element img {
    cursor: pointer;
    position: relative;
}

.hover {}